
color                  = {} 
color.black            = #000000
color.gray-most-dark   = #181818
color.gray-very-dark   = #282828
color.gray-dark        = #333333
color.gray             = #888888
color.gray-bright      = #cccccc
color.gray-very-bright = #dddddd
color.white            = #ffffff
color.yellow-bright    = #ffff88
color.yellow           = #ffff00
color.orange-bright    = #ffaa00
color.orange           = #ff8800
color.red              = #ff0000
color.green-bright     = #00ff00
color.green            = #00aa00
color.green-dark       = #006600
color.blue-dark        = #2222aa
color.blue             = #4444ff
color.blue-medium      = #6666ff
color.blue-bright      = #8888ff
color.blue-very-bright = #aaaaff

body
    background-color: color.gray-dark
    margin:           0px
    padding:          16px
    border-radius:    16px

::selection
    color:          color.yellow
      
input
    font-size:        24px
    width:            100%
    padding-left:     6px
    box-sizing:       border-box
    background-color: color.gray-very-dark
    color:            color.gray
    border-radius:    4px
    border:           1px solid color.black
    text-align: center
    -webkit-transition:  all 0.3s ease-in-out

    &:focus
        background-color: color.gray-very-dark
        outline:    none
    &#master
        color:      color.gray-dark
        &:focus
            box-shadow: 0 0 10px color.yellow
            color:  color.orange
    &#site
        color:      color.green-dark
        &::selection
            color:  color.green-bright
        &:focus
            box-shadow: 0 0 10px color.green-bright
            color:  color.green
    &#password
        color:      color.blue-bright
        &:focus
            box-shadow: 0 0 10px color.blue-very-bright
            color:  color.blue-very-bright

.ghost
    pointer-events: none
    font-family:    sans-serif
    font-weight:    bold
    font-size:      24px
    position:       absolute
    top:            12px
    left:           0
    right:          0
    text-align:     left
    padding-left:   20px
    color:          rgba(255, 255, 255, 0.1)
    -webkit-transition: all 0.8s ease-in-out
    &#password-ghost
        -webkit-transition: all 0.2s ease-in-out
        
.border
    -webkit-transition:  all 0.3s ease-in-out
    box-shadow:    inset 2px 2px 17px rgba(0, 0, 0, 0.25)
    border:        1px solid color.gray-very-dark
    position:      relative
    padding:       10px
    border-radius: 10px
    &.focus
        background-color: color.orange
        box-shadow:       inset 2px 2px 17px rgba(0, 0, 0, 0.75)
        
#master-border
#site-border
    margin-bottom: 12px

#site-border
    &.focus
        background-color: color.green
        box-shadow:       inset 2px 2px 17px rgba(0, 0, 0, 0.75)

#password-border
    &.focus
        background-color: color.blue
        box-shadow:       inset 2px 2px 17px rgba(0, 0, 0, 0.75)
    
