doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        title currency
        link(rel='stylesheet' href='css/stock.css' type='text/css')
        script(src='lib/snap.svg.js')            
        script(src='js/crncy.js')
    body#body
        div#log                    
