    
'.platform-darwin atom-workspace':
  # 'cmd-r': 'build-tools:first-command'
  'cmd-r': 'build:trigger'
  'shift-cmd-W': 'pane:close-other-items'
  
'.platform-darwin atom-text-editor':
  'cmd-up': 'switch-header-source:switch'  
  'cmd-down': 'switch-header-source:switch'  
  'shift-cmd-W': 'pane:close-other-items'
  # 'cmd-r': 'build-tools:first-command'
  'cmd-r': 'build:trigger'
    
'.tree-view':
    'cmd-right': 'tree-view:preview'
