
.tree-view {
    font-size: 13px;
}

atom-text-editor.editor .blame-gutter {
  .syntax--hash   { color: #222; }
  .syntax--date   { color: #444; }
  .syntax--author { color: white; }
}

.atom-dock-toggle-button-visible
{
    display: none;
}
 
